<h1>Bug Report</h1>

<p>Thanks for stopping by. Fill in the form with as much detail as possible. What page were you on when the bug happened? What did you expect to happen? What actually happened, (or didn't happen)? If you got an error message what was the exact text of the message? What time did this error occur? What was the URL for the error page if you saw one?</p>
<p>Thanks!</p>

<form action="/bugs/sendbug" method="post" class="reportform">
	<label for="report">What happened?: </label>
	<textarea id="report" name="report" type="text" rows="20" class="bugreport"></textarea>
	<input type="submit" class="sendBug" value="Send bug report">
</form>