<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main class="main">
    {{{body}}}
  </main>
    <footer class="footer">
      <a href="/">Home</a><br>
      <a href="/dashboard">Dashboard</a><br>
      <a href="/bugs">Report a bug</a><br>
      <a href="/todos">What's coming</a><br>
      <a href="/logout">Log Out</a><br>
      <div class="credits">
        <p><strong>{{appname}}</strong> is made by <a href="https://hughrundle.net">Hugh Rundle</a><p>
        <p>This app is not affiliated with or endorsed by Pocket or Mozilla.</p>
      </div>
    </footer>
  </body>
</html>
