<h1>Thanks!</h1>
<p>Thanks for helping out. Your bug report is speeding through the ether and will hopefully be actioned soon.</p>
<p>Check out the <a href="https://github.com/hughrun/empocketer">GitHub repo</a> for updates and issue reports.</p>