<h1>Todos</h1>

<p>Empocketer is in 'alpha' - there are lots of missing features, and almost certainly a bunch of bugs. Below is a non-exhaustive list of features to be added.</p>

<ul>
	<li><del>general styling and design improvements</del></li>
	<li><del>add ability to set lists as 'public' so other users can subscribe</del></li>
	<li>add ability to see all public lists that subscribe to a particular site</li>
	<li>clone list function</li>
	<li>add ability to delete account</li>
	<li>limit username, list name and feed URLs via blocklists</li>
	<li>admin interface with options to delete lists, create blocklists and ban users</li>
	<li>Create lists via OPML upload</li>
	<li><del>better error handling and UI tips for adding URLs</del></li>
	<li><del>add ability to manually add feeds if auto-detection doesn't work</del></li>
	<li><del>fix responsiveness</del></li>
	<li><del>note to tell user to click on listname to go to list</del></li>
	<li><del>UI indicator that user is logged in (username with logout option at top?)</del></li>
	<li><del>cancel button when deleting list or feed</del></li>
	<li><del>onboarding improvements</del></li>
</ul>
