:root {
  --header-text-color: #0099cc;
  --success: #6dc066;
  --warning: #ffa500;
  --failure: #fd482f;
  --subtle: #c0c0c0;
}

header {
  display: block;
  background: var(--header-text-color);
  margin: 0 -50px;
  text-align: right;
  color: #fff;
  padding: 0.25em 1em;
  min-height: 2em;
}

html {
  margin:0;
  padding:0;
}

body {
  margin: 0;
  padding: 0 50px;
  font: 110% "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: var(--header-text-color);
  text-decoration: none;
}

code {
  font-family: 'Courier New', monospace;
  color: var(--failure);
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header-text-color);
}

hr {
  color: var(--header-text-color);
}

input[type="text"] {
  padding: 0.2em;
  font-size: 1.2em;
  border: 1px solid var(--subtle);
  color: var(--success);
}

label {
    display: block;
    margin: 1em 0 1em;
    font-style: italic;
}

main {
  display: block;
  min-height: 70vh;
  margin-bottom: 4em;
}

textarea {
  border: 1px solid var(--subtle);
}

footer {
  margin: 0 -50px;
  padding: 5vw;
  display: block;
  min-height: 6em;
  background-color: var(--subtle);
}

footer a {
  color: #fff;
}
/* CLASSES */

.add,
.submit,
.addFeedButton,
.sendBug,
.confirm {
  font-size: 1em;
  padding: 0.25em 1em;
  color: var(--success);
  border: 2px solid var(--success);
  background-color: #fff;
  margin: 1em 0 2em;
}

.warn {
  padding: 0.25em 1em;
  color: var(--warning);
  border: 2px solid var(--warning);
  background-color: #fff;
}

.delList,
.removeButton,
.unsubscribe,
.cancel {
  font-size: 1em;
  padding: 0.25em 1em;
  color: var(--failure);
  border: 2px solid var(--failure);
  background-color: #fff;
  margin-bottom: 2em;
}

.error {
  color: var(--failure);
}

.fail {
  background-color: var(--failure);
  border: 1px solid red;
  color: #fff;
}

.feed-url {
  width: 90%;
  height: 1rem;
  margin-bottom: 1rem;
}

form .bugreport {
  width: 100%;
}

.hint {
  border: 2px solid var(--warning);
  padding: 0.5em;
  margin-left: 2em;
  text-align: center;
  font-size: 0.8em;
  max-width: 10em;
  display: inline-block;
  box-shadow: 5px 5px 5px var(--subtle);
}

.list-count {
  padding: 0 0.25em;
  border: 1px solid var(--subtle);
  border-radius: 0.5em;
  margin: 0 0.5em;
}

.list-count a {
    color: var(--subtle);
}

.listing {
  list-style: none;
}

.listing li {
  margin: 1em 0.5em;
}

.listing li > a {
  margin-right: 0.5em;
}

.logInButton {
  text-align: center;
  padding: 1em;
  border: 2px solid var(--success);
  margin: 0 auto 2em;
  width: 33%;
}

div.logInButton {
  font-size: 1.5em;
  color: var(--success);
}

.logout {
  padding: 0 1em;
  color: var(--subtle);
  font-size: 80%;
}

.reportform {
  margin-bottom: 4em;
}

.removeButton {
  margin-left: 1em;
}

.site {
  font-family: 'Courier New', monospace;
  background-color: var(--subtle);
}
.strikeout {
  color: var(--failure);
  text-decoration: line-through;
}

.undelete {
  /* font-size: 0.8em; */
}

/*
      ********************************
      ***                           **
      ***         modals           **
      ***                           **
      ********************************
*/

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  background-color:#fff;
  margin: 20% auto;
  width: 40%;
  min-height: 4em;
  padding: 1em;
  text-align: center;
}

.modal-confirm {
  border-top: 2em solid var(--warning);
}

.modal-add {
  border-top: 2em solid var(--success);
}

/*
      ********************************
      ***                           **
      ***       responsive          **
      ***                           **
      ********************************
*/
@media only screen and (max-device-width: 700px) {

  body {
    font-size: 400%;
    margin: 0;
    padding: 0 1em;
  }

  header {
    margin: 0 -1em;
  }

  footer {
    margin: -1em;
    padding: 1em;
  }

  #addNameButton,
  #addListButton,
  .addFeedButton,
  .delList,
  .removeButton,
  .confirm,
  .sendBug,
  .undelete   {
    margin-top: 0.5em;
    font-size: 0.8em;
  }

}