/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end meyerweb */

:root {
  --header-text-color: #0099cc;
  --success: #6dc066;
  --warning: #ffa500;
  --failure: #fd482f;
  --subtle: #c0c0c0;
}

header {
  display: block;
  background: var(--header-text-color);
  margin: 0 -50px;
  text-align: right;
  color: #fff;
  padding: 0.25em 1em;
  min-height: 2em;
}

html {
  margin:0;
  padding:0;
}

body {
  margin: 0;
  padding: 0 50px;
  font: 110% "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: var(--header-text-color);
  text-decoration: none;
}

code {
  font-family: 'Courier New', monospace;
  color: var(--failure);
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header-text-color);
}

hr {
  color: var(--header-text-color);
}

input[type="text"] {
  padding: 0.2em;
  font-size: 1.2em;
  border: 1px solid var(--subtle);
}

.modal-label {
    display: block;
    margin: 1em 0 1em;
    font-style: italic;
}

main {
  display: block;
  min-height: 70vh;
  margin-bottom: 4em;
}

textarea {
  border: 1px solid var(--subtle);
}

ul {
  list-style-type: none;
}

footer {
  margin: 0 -50px;
  padding: 5vw;
  display: block;
  min-height: 6em;
  background-color: var(--subtle);
}

footer a {
  color: #fff;
}

/* utilities */

.hidden {
  display: none;
}
/* CLASSES */

.add,
.submit,
.addFeedButton,
.sendBug,
.confirm,
.delList,
.delFeed,
.cancel {
  font-size: 17px;
  padding: 0.25em 1em;
  color: var(--success);
  border: 2px solid var(--success);
  background-color: #fff;
  margin: 1em 0;
}

.warn {
  padding: 0.25em 1em;
  color: var(--warning);
  border: 2px solid var(--warning);
  background-color: #fff;
}

.delList,
.cancel {
  color: var(--failure);
  border: 2px solid var(--failure);
}

.delFeed {
	color: var(--subtle);
	border: none;
}

.clone {
  color: var(--header-text-color);
  border: 2px solid var(--header-text-color);
}

.coming-soon {
  color: var(--subtle);
  border: 2px dotted var(--subtle);
}

.error {
  color: var(--failure);
}

.fail {
  background-color: var(--failure);
  border: 1px solid red;
  color: #fff;
}

.feed-url {
  width: 90%;
  height: 1rem;
  margin-bottom: 1rem;
}

form .bugreport {
  width: 100%;
}

.hint {
  border: 2px solid var(--warning);
  padding: 0.5em;
  margin-left: 2em;
  text-align: center;
  font-size: 0.8em;
  max-width: 10em;
  display: inline-block;
  box-shadow: 5px 5px 5px var(--subtle);
}

.list-count {
  padding: 0 0.25em;
  border: 1px solid var(--subtle);
  border-radius: 0.5em;
  margin: 0 0.5em;
}

.list-count a {
    color: var(--subtle);
}

.listing {
  list-style: none;
}

.listing li {
  margin: 1em 0.5em;
}

.listing li > a {
  margin-right: 0.5em;
}

.logInButton {
  text-align: center;
  padding: 1em;
  border: 2px solid var(--success);
  margin: 0 auto 2em;
  width: 33%;
}

div.logInButton {
  font-size: 1.5em;
  color: var(--success);
}

.logout {
  padding: 0 1em;
  color: var(--subtle);
  font-size: 80%;
}

.publicToggle,
.subToggle,
.opml {
  /* visibility: hidden; */
  display: none;
  width: 0;
  margin: 0;
}

.toggle-label {
  margin: 0;
  padding: 0;
}

.opmlForm {
  display: inline-block;
	font-size: 17px;
	box-sizing: border-box;
	line-height: 1.75em;
  height: 1.9em;
  /* margin-left: 1em; */
}

.opmlLoad {
  /* position: relative; */
  display: none;
  line-height: 1.75em;
  color: var(--warning);
  border: 2px solid var(--warning);
  font-size: 1em;
  padding: 0 1em;
  background-color: #fff;
}

.publicToggle:checked + .switch::before {
  color: var(--warning);
  border-color: var(--warning);
  content: 'Make Private';
}

.subToggle:checked + .switch::before {
  color: var(--warning);
  border-color: var(--warning);
  content: 'Unsubscribe';
}

.switch::before,
.opmlButton::before {
  position: relative;
  display: inline-block;
  line-height: 1.75em;
  height: 1.9em;
  color: var(--success);
  border: 2px solid var(--success);
  content: 'Make Public';
  font-size: 17px;
  padding: 0 1em;
  box-sizing: border-box;
}

.opmlButton::before {
	color: var(--header-text-color);
	border: 2px solid var(--header-text-color);
	content: 'Use OPML file';
}

.sub::before {
  content: 'Subscribe';
}

.pub::before {
  color: var(--header-text-color);
  border: 2px solid var(--header-text-color);
}

.reportform {
  margin-bottom: 4em;
}

.removeButton {
  margin-left: 1em;
}

.site {
  font-family: 'Courier New', monospace;
  background-color: var(--subtle);
}
.strikeout {
  color: var(--failure);
  text-decoration: line-through;
}

#usernameButton {
	color: var(--header-text-color);
	border-color: var(--header-text-color);
}

/* Gecko/Firefox hack for positioning spans inside labels */
@-moz-document url-prefix() {
  .switch::before {
    height: 2em;
  }
	.opmlButton::before {
		height: 1.95em;
	}
}

/*
      ********************************
      ***                           **
      ***         modals           **
      ***                           **
      ********************************
*/

.modal {
	color: #000;
  display: none;
  position: fixed;
  z-index: 9999;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  background-color:#fff;
  margin: 20% auto;
  width: 40%;
  min-height: 4em;
  padding: 1em;
  text-align: center;
}

.modal-confirm {
  border-top: 2em solid var(--warning);
}

.modal-add {
  border-top: 2em solid var(--success);
}

.modal-set {
  border-top: 2em solid var(--header-text-color);
}

.modal-opml {
  margin:-1em;
  margin-bottom: 1em;
  animation-duration: 3s;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes loading {
  0% {
    border-top: 2em solid var(--header-text-color);
    margin-left: calc(100% + 1em + 1px);
    width: 0%;
  }
  50% {
    border-top: 2em solid var(--success);
    margin-left: -1em;
    width: calc(100% + 2em);
  }
  100% {
    border-top: 2em solid var(--warning);
    margin-left: -1em;
    width: 0%;
  }
}
/*
      ********************************
      ***                           **
      ***       responsive          **
      ***                           **
      ********************************
*/
@media only screen and (max-device-width: 700px) {

  body {
    font-size: 400%;
    margin: 0;
    padding: 0 1em;
  }

  header {
    margin: 0 -1em;
  }

  footer {
    margin: -1em;
    padding: 1em;
  }

  #addNameButton,
  #addListButton,
  .addFeedButton,
  .delList,
  .removeButton,
  .confirm,
  .sendBug,
  .undelete   {
    margin-top: 0.5em;
    font-size: 0.8em;
  }

}